# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Admin User
ADMIN_EMAIL="YOUR_EMAIL_HERE"
ADMIN_PASSWORD="YOUR_PASSWORD_HERE"

# Drizzle
POSTGRES_URL="YOUR_POSTGRES_URL_HERE"
POSTGRES_PRISMA_URL="YOUR_POSTGRES_PRISMA_URL_HERE"
POSTGRES_URL_NO_SSL="YOUR_POSTGRES_URL_NO_SSL_HERE"
POSTGRES_URL_NON_POOLING="YOUR_POSTGRES_URL_NON_POOLING_HERE"
POSTGRES_USER="YOUR_POSTGRES_USER_HERE"
POSTGRES_HOST="YOUR_POSTGRES_HOST_HERE"
POSTGRES_PASSWORD="YOUR_POSTGRES_PASSWORD_HERE"
POSTGRES_DATABASE="YOUR_POSTGRES_DATABASE_HERE"
